<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logueo</servlet-name>
        <servlet-class>librerias1.logueo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proceso</servlet-name>
        <servlet-class>librerias1.proceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertar</servlet-name>
        <servlet-class>librerias2.insertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listado</servlet-name>
        <servlet-class>librerias2.listado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busqueda</servlet-name>
        <servlet-class>librerias2.busqueda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logueo</servlet-name>
        <url-pattern>/logueo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proceso</servlet-name>
        <url-pattern>/proceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertar</servlet-name>
        <url-pattern>/insertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listado</servlet-name>
        <url-pattern>/listado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busqueda</servlet-name>
        <url-pattern>/busqueda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
